/auth
/src/pubmed-queries/abstracts/text
*.old
*-wtf*
/src/output
/src/fine-tuning/output
/src/fine-tuning/checkpoint
/src/traindata/onto
np
pd
torch
*.zip
*checkpoint
*onto
*.pyc
/data/abstracts/text
src/analysis/results
/src/analysis/results-omim

